* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Fontes Google */
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    /* Borda de Desenvolvimento */
    border: solid 1px blue;
}

.container-pai{
    width: 200px;
    height: 200px;

    /* FlexBox */
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.input-text{
    width: 160px;
    padding: 1px 3px;
    outline: none;
}

.container-button{
    width: 160px;
    padding: 5px 0;

    /* FlexBox */
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 77px;
    padding: 2px;
    border-radius: 3px;
    border: solid 1px #4c4c4d;
    cursor: pointer;
}

/* Configuração do Resultado */
